.s-download {
  background-color: $secondary;
  grid-template-rows: 150px [main-start heading-start] auto [heading-end] 50px [content-start] 1fr [content-end main-end] 100px;
  min-height: 100vh;

  &__heading {
    color: $white;
    grid-column: main-start/main-end;
    grid-row: heading-start/heading-end;

    @media screen and (min-width: $desktop) {
      grid-column: col-start 2/ span 8;
    }
  }

  &__sub {
    color: $white;
  }

  &__content {
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    grid-column: main-start/main-end;
    grid-row: content-start/content-end;
    height: 300px;
    justify-content: center;
    max-width: 100%;
    width: 100%;

    @media screen and (min-width: $mobile) {
      width: 300px;
    }

    @media screen and (min-width: $tablet-small) {
      height: 400px;
      width: 400px;
    }

    @media screen and (min-width: $desktop) {
      grid-column: col-start 2/ span 8;
    }
  }

  &__card-img {
    height: 100px;
    margin: 15px;
    width: 100px;
  }

  &__card-heading {
    margin-bottom: 15px;
    @extend .ty-heading2;
  }

  &__card-btn {
    margin: 15px;
    @extend .btn--download;
  }
}
