.s-licenses {
  background-color: $secondary;
  grid-template-rows: 150px [main-start heading-start] auto [heading-end] 50px [content-start] 1fr [content-end main-end] 100px;
  min-height: 100vh;

  &__heading {
    color: $white;
    grid-column: main-start/main-end;
    grid-row: heading-start/heading-end;

    @media screen and (min-width: $desktop) {
      grid-column: col-start 2 / span 10;
    }
  }

  &__sub {
    color: $white;
  }

  &__content {
    background-color: $white;
    border-radius: 10px;
    display: grid;
    grid-column: main-start/main-end;
    grid-row: content-start/content-end;
    grid-template-columns: 1fr;
    grid-template-rows: [topbar-start] auto [topbar-end table-start] 1fr [table-end];
    min-height: 500px;
    width: 100%;

    @media screen and (min-width: $tablet-small) {
      grid-template-rows: [topbar-start] 100px [topbar-end table-start] 1fr [table-end];
    }

    @media screen and (min-width: $desktop) {
      grid-column: col-start 2 / span 10;
    }
  }

  &__topbar {
    align-items: center;
    border-bottom: 1px solid $grey;
    display: flex;
    flex-flow: row wrap;
    grid-column: 1/-1;
    grid-row: topbar-start/topbar-end;
    height: 100%;
    justify-content: space-between;
    padding: 25px;
    width: 100%;

    &-title {
      color: $black;
    }

    &-caption {
      color: $darkgrey;
    }

    &-btn {
      height: 40px;
      width: 160px;
      @extend .btn--primary;
      @extend .ty-body2;
    }

    @media screen and (min-width: $tablet-small) {
      flex-flow: row nowrap;
    }
  }

  &__table {
    height: fit-content;
    padding: 10px 15px;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $tablet-small) {
      padding: 50px 70px;
    }
  }
}
