.s-login {
  background-color: $secondary;
  grid-template-rows: 150px [main-start] 1fr [main-end] 100px;
  min-height: 100vh;

  &__content {
    grid-column: main-start/main-end;
    grid-row: main-start/main-end;

    @media screen and (min-width: $desktop) {
      grid-column: col-start 2 / span 10;
    }
  }

  &__heading {
    color: $white;
    margin-bottom: 25px;
  }

  &__sub {
    color: $white;
    margin-bottom: 25px;
  }

  &__form-wrapper {
    background-color: $white;
    border-radius: 10px;
    padding: 25px;
  }

  &__form-caption {
    margin: 25px 0;

    @media screen and (min-width: $tablet-small) {
      margin: 25px 50px;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    @media screen and (min-width: $tablet-small) {
      margin: 25px 50px;
    }
  }

  &__button {
    background-color: $secondary;
  }
}
