.s-support {
  background-color: $secondary;
  grid-template-rows: 100px [main-start] 1fr [main-end] 100px;

  &__content {
    grid-column: main-start/main-end;
    grid-row: main-start/main-end;
  }

  &__heading {
    margin-bottom: 25px;
  }

  &__sub {
    color: $primary;
    margin-bottom: 25px;
  }

  &__form-wrapper {
    background-color: $white;
    border-radius: 10px;
    padding: 25px;
  }

  &__form-caption {
    margin: 25px 0;

    @media screen and (min-width: $tablet-small) {
      margin: 25px 50px;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    @media screen and (min-width: $tablet-small) {
      margin: 25px 50px;
    }
  }

  &__button {
    background-color: $lightseagreen;
  }
}
