@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-display: swap;
  src: url("./../fonts/OpenSans-Bold.ttf");
}
