/*** COLORS ***/
$primary: #56a1c5;
$secondary: #FFFFFF;
$white: #FFFFFF;
$grey: #FFFFFF;
$black: #000000;


/*** BREAKPOINTS ***/
$mobile-small: 320px;
$mobile: 475px;
$mobile-landscape: 640px;
$tablet-small: 768px;
$tablet: 992px;
$desktop: 1024px;
$desktop-medium: 1280px;
$desktop-large: 1440px;


/*** FONT FAMILIES  ***/
$primary-font: 'Open Sans', sans-serif;
$primary-font-bold: 'Open Sans Bold', sans-serif;


/*** FONT SIZES ***/
// Desktop
$d-display1: 4.625rem;
$d-display2: 3.5rem;
$d-heading1: 2.75rem;
$d-heading2: 2rem;
$d-heading3: 1.75rem;
$d-heading4: 1.375rem;
$d-sub: 1.25rem;
$d-body1: 1.125rem;
$d-body2: 0.875rem;
$d-cap: 0.75rem;
// Mobile
$m-display1: 2.8125rem;
$m-display2: 2.25rem;
$m-heading1: 2rem;
$m-heading2: 1.625rem;
$m-heading3: 1.5rem;
$m-heading4: 1.25rem;
$m-sub: 1.125rem;
$m-body1: 1rem;
$m-body2: 0.875rem;
$m-cap: 0.75rem;

/*** FONT WHEIGT ***/
$regular: 500;
$bold: 700;