// COLORS
$primary: #56a1c5;
$secondary: #FFFFFF;
$white: #FFFFFF;
$grey: #FFFFFF;
$black: #000000;

// BREAKPOINTS
$mobile-small: 320px;
$mobile: 475px;
$mobile-landscape: 640px;
$tablet-small: 768px;
$tablet: 992px;
$desktop: 1024px;
$desktop-medium: 1280px;
$desktop-large: 1440px;

// FONTS
$os: 'Open Sans', sans-serif;
$os-bold: 'Open Sans Bold', sans-serif;
