.btn {
  cursor: pointer;

  &--primary {
    background-color: $primary;
    border: none;
    border-radius: 0.25rem;
    color: $white;
    height: 40px;
    width: fit-content;
    @extend .btn;
  }

  &--download {
    background-color: $primary;
    border: none;
    border-radius: 40px;
    color: $white;
    height: 56px;
    width: 200px;
    @extend .btn;
  }

  &--warning {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    color: $black;
    height: 30px;
    width: 30px;
    @extend .btn;
  }

  &--danger {
    background-color: $red;
    border: none;
    border-radius: 5px;
    color: $white;
    height: 30px;
    width: 30px;
    @extend .btn;
  }

  &--icon {
    height: 35%;
    margin: auto;
    width: 35%;
  }

  &--cancel {
    background-color: $lightseagreen;
    height: 40px;
    padding: 8px 24px;
    width: 100%;
    @extend .btn--primary;

    @media screen and (min-width: $tablet-small) {
      width: fit-content;
    }
  }
  
  &--submit {
    height: 40px;
    padding: 8px 24px;
    width: 100%;
    @extend .btn--primary;

    @media screen and (min-width: $tablet-small) {
      width: fit-content;
    }
  }
}