.td{
  &-row {
    height: 80px;

    &:nth-child(odd) {
      background-color: $lightgrey;
    }

    &:nth-child(even) {
      background-color: $tertiary;
    }
  }

  &-data {
    height: 80px;
    @extend .ty-body2;
  }
}

.th {
  &-row {
    height: 80px;
    @extend .ty-body2;
  }
}
